params {
    executor = "local"

    outdir                  = "artic_vidrl"
    version                 = "0.1.0"

    scheme_dir              = "${PWD}/HADV/V1"

    min_length       = 200
    max_length       = 1200
    min_quality      = 0

    normalise        = 200
    medaka_model     = "r941_min_high_g360"

    fastq_gather    = null
    fastq_id        = null
    fastq_dir       = null
    fastq_ext       = null
    barcodes        = null
    sample_sheet    = null

    report_title    = "ARTIC Report"

    conda_env = "$baseDir/modules/artic/envs/artic.yml"
    mamba = false
    micromamba = false

    artic_gather_cpus = 1
    artic_gather_mem = "2GB"
    artic_gather_time = "1h"

    artic_minion_cpus = 2
    artic_minion_mem = "4GB"
    artic_minion_time = "1h"

    artic_covtobed_cpus = 1
    artic_covtobed_mem = "2GB"
    artic_covtobed_time = "1h"

    artic_report_cpus = 1
    artic_report_mem = "2GB"
    artic_report_time = "1h"

}

profiles {
  conda {
      process.conda = params.conda_env
      conda.useMamba = params.mamba
      conda.useMicromamba = params.micromamba
  }
}

process {
    
    executor = params.executor
    errorStrategy = "ignore"

    withLabel: artic_gather {
        cpus = params.artic_gather_cpus
        memory = params.artic_gather_mem
        time = params.artic_gather_time
    }
    withLabel: artic_minion {
        cpus = params.artic_minion_cpus
        memory = params.artic_minion_mem
        time = params.artic_minion_time
    }
    withLabel: artic_covtobed {
        cpus = params.artic_covtobed_cpus
        memory = params.artic_covtobed_mem
        time = params.artic_covtobed_time
    }
    withLabel: artic_report {
        cpus = params.artic_report_cpus
        memory = params.artic_report_mem
        time = params.artic_report_time
    }
}
