params {
    executor = "local"
    
    // Workflow parameters

    outdir                  = "artic_vidrl"
    version                 = "0.1.0"

    artic {

        scheme_dir          = "${PWD}/HADV/V1"
        
    }


    // Artic Gather

    min_length       = 200
    max_length       = 1200
    min_quality      = 0

    // Artic Medaka

    normalise        = 200
    medaka_model     = "r941_min_high_g360"

    // Indels have previously tripped up bcftools consensus in 
    // low coverage masked preconsensus sequence for a low coverage
    // dilution series during scheme testing, may be ok for high 
    // coverage data

    artic_minion_args       = "--no-indels"  


    // Single sample workflow

    fastq_gather    = null
    fastq_id        = null

    // Multiple sample workflow

    fastq_dir       = null
    fastq_ext       = null
    barcodes        = null
    sample_sheet    = null


    // Report

    report_title    = "Test Report"

    // Conda environment

    conda_env = "$baseDir/envs/artic_vidrl.yml"
    mamba = false
    micromamba = false

    // Resource configs

    artic_gather_cpus = 1
    artic_gather_mem = "2GB"
    artic_gather_time = "1h"

    artic_minion_cpus = 2
    artic_minion_mem = "4GB"
    artic_minion_time = "1h"

    artic_covtobed_cpus = 1
    artic_covtobed_mem = "2GB"
    artic_covtobed_time = "1h"

    artic_report_cpus = 1
    artic_report_mem = "2GB"
    artic_report_time = "1h"

}

profiles {
  conda {
      process.conda = params.conda_env
      conda.useMamba = params.mamba
      conda.useMicromamba = params.micromamba
  }
  adeno {
      params.scheme_dir = "$baseDir/schemes/ADV/V1"
  }
  jev {
      params.scheme_dir = "$baseDir/schemes/JEV/V1"
  }
}

process {
    
    executor = params.executor
    errorStrategy = "ignore"

    withLabel: artic_gather {
        cpus = params.artic_gather_cpus
        memory = params.artic_gather_mem
        time = params.artic_gather_time
    }
    withLabel: artic_minion {
        cpus = params.artic_minion_cpus
        memory = params.artic_minion_mem
        time = params.artic_minion_time
    }
    withLabel: artic_covtobed {
        cpus = params.artic_covtobed_cpus
        memory = params.artic_covtobed_mem
        time = params.artic_covtobed_time
    }
    withLabel: artic_report {
        cpus = params.artic_report_cpus
        memory = params.artic_report_mem
        time = params.artic_report_time
    }
}
